{% extends 'menu.html' %}
{% load staticfiles %}
{% block container %}
<div class="form-register">

    <h1>Criar Usuario</h1>
    <br>
        <form  method="post" action="" >
            {% csrf_token %}
            <p class="required"><label for="id_username">Usuário:</label> <input id="id_username" maxlength="30" name="username" type="text" class="form-control"></p>
            <p class="required"><label for="id_email">E-mail:</label> <input id="id_email" name="email" type="text" class="form-control"></p>
            <p class="required"><label for="id_password1">Senha:</label> <input id="id_password1" name="password1" type="password" class="form-control"></p>
            <p class="required"><label for="id_password2">Senha (novamente):</label> <input id="id_password2" name="password2" type="password" class="form-control"></p>
                <p><input class="btn btn-lg btn-block btn-primary" type="submit" value="Cadastrar"></p>
        </form>

</div>
{% endblock %}
